<h1>New Proof Script</h1>

<% form_for(@proofscript) do |f| %>  
  <%= render(:partial => "form", :object => f) %> 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', proofscripts_path %>