/*-----------------------------------------------------
 TEXTS
-----------------------------------------------------*/
text {
	font-family:Nimbus Roman No9 L;
	font-weight:regular;
	font-size:11.34pt;
}

/*-----------------------------------------------------
 STATES OF CLOSED GOALS (polygons)
-----------------------------------------------------*/
.closedGoal polygon {
	fill		 : #ddd;
	stroke		 : black;
	stroke-width : 1px;
}

.closedGoal_clicked polygon {
	fill		: gray;
}

.closedGoal_colapsed polygon {
	fill		 : none;
	stroke		 : none;
	stroke-width :0px;
	color		 :white;
}

/*-----------------------------------------------------
 STATES OF OPEN GOALS (ellipses)
-----------------------------------------------------*/
.openGoal ellipse {
	fill		 : Gold;
	stroke		 : Black;
	stroke-width : 1px;
}

.openGoal_clicked ellipse {
	fill		: GoldenRod;
}

/*-----------------------------------------------------
 EFFECTS on CLOSED GOALS (polygons)
-----------------------------------------------------*/
.graph g.closedGoal:hover polygon {
	fill		 : #ddd;
	stroke		 : yellow;
	stroke-width : 2x;
}

.graph g.closedGoal_clicked:hover polygon {
	fill		 : Gray;
	stroke		 : Yellow;
	stroke-width : 2x;	
}

/*-----------------------------------------------------
 EFFECTS on OPEN GOALS (ellipses)
-----------------------------------------------------*/
.graph g.openGoal:hover ellipse {
	fill		 : Gold;
	stroke		 : Yellow;
	stroke-width : 2x;
}

.graph g.openGoal_clicked:hover ellipse {
	fill		 : GoldenRod;
	stroke		 : Yellow;
	stroke-width : 2x;	
}
	

