<h1>Hemera Prover</h1>
<br/>
Hemera is planned to be a multi-logic and multi-strategy theorem prover. <br/>
At the present stage, it allows only proofs in Sequent Calculus and Tableaux for propositional logic. <br/>
The following releases will allow:
<br/>    * Strategies of proofs
<br/>    * First order logic
<br/>    * Modal logics 
<br/>
<br/>
IMPLICATION  = --><br/>
SEQUENT      = |-<br/>
AND          = &amp;<br/>
OR           = |<br/>
NOT          = ~<br/>
literals = , <br/>
	
