<h1>Welcome to HemeraWeb</h1>
It's <%= Time.now %>
<br/>
<br/>You can try <%= link_to 'prove some scripts on the fly', :action => 'prove_no_saved' %>
<br/>
or 
<br/>
<%= link_to 'log in', :controller => 'admin', :action => 'login' %>
to the system to manage more effectively your proof scripts