<% @page_title = "New theorem" -%>

<h1 class="main_title">New theorem</h1>

<% form_tag :action => 'prove_or_save' do %>
<%= render :partial => 'form' %>
<%= submit_tag "Prove"  %>
<% if session[:user_id] %>
	<%= submit_tag "Save"  %>
<% end %>
<% end %>
