<% @page_title = "Proving theorem" -%>

<h1>Proving theorem</h1>

<% form_tag :action => 'prove_saved', :id => @theorem do %>
  <% for column in Theorem.content_columns %>
  <p>
    <b><%= column.human_name %>:</b> <%=h @theorem.send(column.name) %>
  </p>
  <% end %>  
  <%= submit_tag 'Prove' %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
