<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="<%= controller.preferred_content_type %>; charset=UTF-8" />  
  <title>Proof: <%= controller.action_name %></title>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "hemera" %>  
  <%= javascript_include_tag "graphediting" %>  
  <%= javascript_include_tag "context_menu" %>    
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag "hemera" %>
  <%= stylesheet_link_tag "context_menu" %>  
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<table border="0" width="100%" cellpadding="10">
<tr>
    <td width="20%" valign="top">
	    <br/>
		<%= link_to 'Tutorial', :action => '' %>
	    <br/>
	    <a href="/proof/dictionary" onClick="return popup(this, 'dictionary')">Dictionary</a>
	    <br/>
		<% if session[:user_id] != nil %>
	    <%= link_to 'My Theorems', :controller => 'proof', :action => 'list' %>
		<br/>
	    <%= link_to 'Logout', :controller => 'login', :action => 'logout' %>			
		<% else %>
	    <%= link_to 'Login', :controller => 'login', :action => 'login' %>			
		<% end %>
	    <br/>						
    </td>
    <td width="80%" valign="top">
		<%= @content_for_layout %>
    </td>	
</tr>
</table>

</body>
</html>
